<div id="pageTitle">
		<h1>Edit <%= @user.username%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @user.object %>
    <%= link_to "Delete", :action => :delete, :id => @user.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @user.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Username: </td>
              			<td class="itemValue"><input type="text" name="user[username]" value="<%= @user.username %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Password: </td>
              			<td class="itemValue"><input type="text" name="user[password]" value="<%= @user.password %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Api token: </td>
              			<td class="itemValue"><input type="text" name="user[api_token]" value="<%= @user.api_token %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
