<div class="pageTitle">
  <h1>Edit <%= @user.username %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @user.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @user.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @user.object %>"/>
    <ul>
      
          <li>
            <label for="user[username]" class="fieldLabel">Username</label>
            <input type="text" name="user[username]" value="<%= @user.username %>" <%= placeholder( "Username" ) %> />
          </li>
      
          <li>
            <label for="user[password]" class="fieldLabel">Password</label>
            <input type="text" name="user[password]" value="<%= @user.password %>" <%= placeholder( "Password" ) %> />
          </li>
      
          <li>
            <label for="user[api_token]" class="fieldLabel">Api token</label>
            <input type="text" name="user[api_token]" value="<%= @user.api_token %>" <%= placeholder( "Api token" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>