<div class="pageTitle">
  <h1>New <%= "" %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class='content'>
  <ul>
    <li><a href="<%= url_for :controller => :UserRepos, :action => :my_repos %>" >Your Repos</a></li>
    <li><a href="<%= url_for :controller => :UserRepos, :action => :watching_repos %>" >Watched Repos</a></li>
    <li><a href="<%= url_for :controller => :UserRepos, :action => :forked_repos %>" >Forked Repos</a></li>
    <li><a href="<%= url_for :controller => :UserFollows, :action => :my_followers %>" >Followers</a></li>
    <li><a href="<%= url_for :controller => :UserFollows, :action => :following %>" >Following</a></li>
</ul>